.header-carousel-item {
  height: 550px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.text-md-dark {
  color: #333;
}

.jumbotron-bg {
  background-image: url("./images/runner_4.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

.bg-lighter {
  background-color: rgba(255, 255, 255, 0.65);
}
